/* ubacivanje fonta sa fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* navigacija i fiksiranje prilikom skrolovanja */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    padding: 10px 100px; 
    box-sizing: border-box;
    transition: .5s;
    opacity: 0.9;
}

nav .logo{
    float: left;
}

nav .logo img{
    height: 60px;
    transition: .7s;
    cursor: pointer;
    border-radius: 50%;
}

/* pozicija liste - navigacije*/
nav ul{
    float: right;
    margin: 0;
    padding:0;
    display: flex;
}

nav ul li{
    list-style: none;
}

/* stilizovanje polja u listi */
nav ul li a{
    line-height: 50px;
    padding: 5px 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
}

/* pozadina polja liste O nama */
.mi .btn {
    background-color: rgb(255, 255, 255, 0.9);
}
.mi .btn:hover{
    background-color: rgb(23, 162, 184, 0.9)
}

/* stilizovanje polja O nama */
nav div{
    line-height: 29px;
    margin-top:10px;
    padding: 0px 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
}

/* stilizovanje polja liste prilikom prelaska misem preko polja*/
nav .onama div:hover{
    color:#ffffff;
    /* background: #f00; */
    cursor: pointer;
}

/* stilizovanje polja "O nama" prilikom prelaska misem preko polja*/
nav ul li a.active,
nav ul li a:hover{
    color:#ffffff;
    /* background: #f00; */
}

ul li ul{
    position: absolute;
}

/*sakrivanje padajuce liste*/
.navigacija ul{
    display: none;
}

.navbar {
    border: 1px solid darkblue;
    border-radius: 15px;
    margin: 0 auto 10px auto;
    width: 98%;
}
/*slika na pozadini*/
section.sec1{
    /* width: 100% */
    width:98%;
    margin: auto;
    height: 100vh;
    background: url(../img/bg1.jpg);
    z-index:-1;
    background-size: cover;
    border: 1px solid darkblue;
    border-radius: 15px;
    /*filter: blur(3px);*/
    position: relative;
    margin-bottom: 10px;
}

/**/

.omeni{
    width:auto;
    height: 800px;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
.prvi{
    padding-top: 100px;
}

.omeni h1, .omeni p{
    padding: 10px;
    margin: 10px;
}

.sec2{
    display: flex;
    float: left;
}

#drugi{
    height: 860px;
}

.sec3{
    margin-top: 80px;
    display: flex;
    float: right;
}

/* Zoki sekcija */

.sec4{
    /*display: flex;
    float: left;*/
    width: 98%;
    margin: auto;
    background: url(../img/4k-wallpaper-architecture-background-1308624.jpg);
    border-radius: 15px;
    /*height: 350px;*/
    height: auto;
    color: beige;
}

.sec4 img {
    height: 250px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightseagreen;
}

.sec4 div {
    margin-top: 40px;
    text-align: justify;
}

.sec4 h1 {
    margin-top: 70px;
}

.sec4 a {
    text-decoration: none;
}

/* END of Zoki sekcija */

.footer {
    width: 98%;
    text-align: center;
    font-style: italic;
    font-size: 10px;
    background: rgb(30, 60, 94);
    color: beige;
    line-height: 30px;
    border-radius: 10px;
}

.prijava, .registracija {
    width: 600px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #fbfbf0;
    padding: 20px;
    color: rgb(15, 139, 139);
}

#btn-lozinka {
    float: right;
}

/* Ucionica */

h3 {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    color: darkmagenta;
}

.ucionica-1, .ucionica-2, .ucionica-3 {
    width: 1100px;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 30px;

}

.prof-1, .prof-2, .prof-3 {
    width: 200px;
    line-height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px 0 50px 100px;
    text-align: center;
}

.ucionica-1-racunari, .ucionica-2-racunari, .ucionica-3-racunari {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 900px;
}

.ucenik {
    width: 200px;
    line-height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-table;
    margin: 20px;
    text-align: center;
    
}

.dobro-dosli {
        width: 660px;
        height: auto;
        margin: 50px auto;
        text-align: justify;
        padding: 40px;
        font-size: 20px;
        border: 1px solid darkblue;
        background: rgb(251, 251, 240);
        box-shadow: 10px 10px 10px lightseagreen;
}